In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\Users\apriyesh\Desktop\COVID\Coronavirus-Probability\data.csv')

In [5]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   99.254765         1   85          1           0              1
1   98.954284         0   55          0          -1              0
2  101.647720         0   84          0           0              1
3  101.318212         1   12          0           1              1
4   99.139178         1   24          0           0              0

In [6]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2884  101.712022         0   42          1          -1              1
2885  100.435787         0   97          1           1              0
2886  100.750620         0    5          0           0              1
2887   99.927393         0   96          1           1              0
2888   99.519023         0   15          1           0              0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2889 entries, 0 to 2888
Data columns (total 6 columns):
fever            2889 non-null float64
bodyPain         2889 non-null int64
age              2889 non-null int64
runnyNose        2889 non-null int64
diffBreath       2889 non-null int64
infectionProb    2889 non-null int64
dtypes: float64(1), int64(5)
memory usage: 135.5 KB

In [8]:
df['fever']

0        99.254765
1        98.954284
2       101.647720
3       101.318212
4        99.139178
5        98.429733
6        98.007556
7        99.217944
8        98.101981
9       101.406590
10      101.630886
11       99.226428
12      100.711336
13       98.706460
14       99.576616
15      100.820641
16      100.052602
17       98.096999
18      100.599051
19      101.721184
20       99.570126
21       99.790887
22      101.287619
23       98.989207
24       99.906443
25      101.925677
26       98.906928
27      100.239393
28       98.835609
29       99.177263
           ...
2859    100.296637
2860    100.425896
2861     98.001830
2862    100.244787
2863    100.869765
2864    101.524259
2865     98.842595
2866    100.302181
2867     99.085127
2868     99.157705
2869    100.119455
2870    101.132513
2871    101.843942
2872     99.235728
2873     98.222958
2874     99.017640
2875    101.083470
2876    101.054851
2877     98.119554
2878    100.745114
2879    101.220371
2880    100.248569
2881    101.093894
2882    100.547305
2883    101.414006
2884    101.712022
2885    100.435787
2886    100.750620
2887     99.927393
2888     99.519023
Name: fever, Length: 2889, dtype: float64

In [9]:
df['diffBreath'].value_counts()

-1    1027
 1     948
 0     914
Name: diffBreath, dtype: int64

In [10]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000
mean,99.999273,0.510903,49.899965,0.491866,-0.027345,0.500519
std,1.134316,0.499968,28.847724,0.500020,0.826508,0.500086
min,98.000300,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.036548,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,99.993046,1.000000,49.000000,0.000000,0.000000,1.000000
75%,100.962298,1.000000,74.000000,1.000000,1.000000,1.000000
max,101.992313,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [11]:
import numpy as np

In [12]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [13]:
np.random.permutation((7))

array([2, 1, 3, 0, 4, 5, 6])

In [14]:
train, test = data_split(df, 0.2)

In [15]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1811   98.228244         1   70          0           0              1
1835  101.091649         1   69          1           0              0
965   101.981402         0   60          0           0              1
1234  100.425669         0   61          0          -1              1
662   100.502494         0    3          1           0              1
2410   99.662435         1   34          1           1              1
2241  100.319198         0   41          0           1              0
2341   99.499713         0   60          0           0              1
744   100.994866         1    2          0           0              1
1048   99.598175         0   12          0           0              0
1117   99.601227         1   85          0          -1              1
2284   98.825196         1   73          0           0              0
2308  100.257637         0   73          0          -1              0
461    98.239450         1   59          0           0              1
1190   99.323357         1   34          0           1              1
157    99.656062         0   74          1          -1              1
1754  100.635442         0   45          1           1              0
869   101.356185         1   62          1          -1              1
1538   98.960288         0   25          0           1              0
676    98.295245         0   98          0          -1              1
238   100.612361         0   13          0          -1              0
642    98.214691         1    5          0          -1              1
2723  100.109003         1   51          0           1              0
1812  100.002068         0   55          1           0              1
100   101.745436         0   94          1           0              0
315    98.652545         0   10          1          -1              1
847    99.971370         1   69          0           0              1
2408   98.531378         0   48          1           1              0
2545   99.264442         1   15          0          -1              1
2513  100.159632         1   32          1          -1              1
...          ...       ...  ...        ...         ...            ...
2047   99.113355         1   20          0           0              1
2558  101.356638         0   98          1           0              0
1082   98.949614         0   64          1          -1              1
474   101.382083         1   76          1          -1              0
747   101.856216         1    9          1           0              1
2300  100.932780         0   23          0           1              1
21     99.790887         1   55          0          -1              0
459   101.298137         0   71          0           0              0
1184  100.907668         1   87          1           1              0
2324  100.291081         0   61          1          -1              0
955    99.339098         1   66          1           1              0
1215   98.166748         0   76          1           1              0
2433  100.031322         1   95          1           1              1
2853  101.733995         1    9          0           0              1
1515   99.678819         0   74          1           0              0
2391   99.218456         0    2          0          -1              0
769    99.133703         0    9          0          -1              1
1685   98.743784         0   51          0           0              1
130   101.878889         0   10          1           0              1
2135  100.062728         1   15          1           1              1
1482   99.965303         0    3          1          -1              0
330   100.343314         0   70          1          -1              0
1238  101.806134         0   32          0          -1              1
466   101.416037         0   15          1           1              0
2169   99.234257         1   50          0           1              1
1638  100.823703         0   16          1           0              1
1095   99.092296         1   10          1           1              0
1130  101.223455         1   84          1           0              0
1294  100.944881         0   44          0           1              1
860   100.862392         1   62          0           0              1

[2312 rows x 6 columns]

In [16]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
471   101.649511         0   36          0           0              0
1206   98.852075         1   34          1           1              1
2382  100.808617         0   52          1          -1              0
2013   99.756587         1   55          1           1              1
2885  100.435787         0   97          1           1              0
1271   98.970247         0   18          0          -1              0
2304  100.476383         1   74          0          -1              0
2784  101.734159         1   51          0          -1              0
1068   98.184487         1   55          1           0              1
1268   98.739737         1   63          0          -1              1
2783   98.178225         1   96          0          -1              1
1600  100.449690         0   63          0          -1              1
368   100.733906         0   78          1           1              1
1763  100.720029         1   61          0           0              0
817   101.882649         0   99          1           1              1
781    99.456731         0    6          1          -1              1
498    98.570422         1   36          0           1              1
239    98.471347         1   90          1          -1              0
331    99.832095         0   14          0           1              0
838   101.727057         1   75          1           0              0
2357   98.451203         1   48          1           0              1
1222   98.825221         1   88          1           0              1
2664  100.151790         0   30          1           1              0
1127  101.330499         1    2          0          -1              0
1073   99.742156         1   88          0           1              1
2702   99.617881         1   94          1           0              1
990    98.206696         1    4          0           1              0
1391  101.431057         0  100          1           1              1
1399   98.213471         0   46          0          -1              1
2688  101.793810         0   65          0           1              1
...          ...       ...  ...        ...         ...            ...
650   101.262615         0   35          0           1              0
1340  101.437388         1   75          0           0              0
2360   98.255847         0   58          1           0              1
581   101.219740         1   35          0           0              0
1533   99.951744         0   59          0           0              1
1018  101.201203         0   54          0           1              1
2268   99.520891         0   32          0           0              0
2195   98.431862         0    7          0           0              1
1071  101.901387         1   26          1           0              1
542    99.645396         1   14          0           1              1
2479  101.178573         1   70          0           0              0
1616   98.249380         0    3          0          -1              1
598    99.762187         0    6          1           1              0
2328  100.623678         1   31          0          -1              0
1807  101.562390         1   14          1          -1              0
2875  101.083470         1   88          1          -1              0
2787   98.449751         0   56          1           1              0
2630  100.254497         1    1          0           0              0
1437  100.596907         0   82          1           0              1
1537   99.941193         1   55          1          -1              1
1760   98.864279         0   95          0           1              0
435    98.794358         1   33          1           0              1
2163   98.968485         1   19          1           1              1
237   100.596317         1    1          0           1              0
811    98.856592         1   97          1          -1              1
109   100.181416         0   91          1           1              1
1894  101.252918         0    9          1           1              0
163    98.792579         1   68          1           0              0
1924   99.712089         0   76          0           0              0
252   100.604908         1   63          0           1              0

[577 rows x 6 columns]

In [17]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [19]:
Y_train = train[['infectionProb']].to_numpy().reshape(2312,)
Y_test = test[['infectionProb']].to_numpy().reshape(577,)

In [20]:
Y_train

array([1, 0, 1, ..., 0, 1, 1], dtype=int64)

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

C:\Users\apriyesh\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [23]:
inputFeatures = [100, 1, 22, -1, 0]
infProb =clf.predict_proba([inputFeatures])[0][1]

In [24]:
infProb

0.5137843348145038